body {
	margin: 10px;
}

body .navbar .brand {
	color: #FFFFFF;
}

.hero-unit h1 {
  margin: 0 0 10px 0;
}

.hero-unit .file-input-wrapper {
  margin: 0 0 10px 0;
}

pre.prettyprint {
  padding: 10px;
  margin-top: 10px;
}

.file-input-wrapper {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.file-input-wrapper input[type=file],
.file-input-wrapper input[type=file]:focus,
.file-input-wrapper input[type=file]:hover {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99; outline: 0;
}

.file-input-name {
	margin-left: 8px;
}

